body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: 'Gloock', serif;
}

.dark-overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.light-bg {
    color: #005414;
}

/* NAV BAR */
.navbar {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    padding: 10px 20px;
    color: white;
    font-size: x-large;
}

.navbar-brand:hover {
    color: #ddd;
}

.navbar-toggler {
    border: 1px solid #26B14E;
    margin-right: 50px;
}

.navbar-nav {
    font-size: large;
    margin-left: auto;
    margin-right: 50px;
    padding-right: 20px;
    text-align: center;
}

.navbar-nav .nav-link {
    color: #bbb;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.navbar-nav .nav-link.active {
    color: #fff;
    border-bottom: #26B14E 3px solid;
}

@media (max-width: 991px) {
    .show .navbar-nav{
        margin-top: 0;
        padding-right: 0;
        padding-left: 20px;
    }

    .show .nav-link {
        text-align: right;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .show .navbar-nav{
        width: 20%;
    }
}

@media (max-width: 767px) {
    .show .navbar-nav{
        width: 30%;
    }
}

.fixed-top.scrolled {
    background-color: #000 !important;
    transition: background-color 200ms linear;
}

/* SHOWCASE CAROUSEL */
.carousel-item {
    height: 650px;
}

.carousel-image-1 {
    background: url("../img/hero1.JPG");
    background-size: cover;
    background-position: center;
    
}

.carousel-image-2 {
    background: url("../img/hero2.JPG");
    background-size: cover;
    background-position: center;
}

.carousel-image-3 {
    background: url("../img/hero3.JPG");
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    text-align: right;
    margin-bottom: 200px;
    color: white;
}

.display-5 {
    font-weight: 500;
}

.main-text {
    position: absolute;
    top: 250px;
    width: 100%;
    color: white;
}

.main-text h1 {
    font-size: 5rem;
}

.main-text p {
    font-size: 2.5rem;
}

@media (min-width: 375px) and (max-width: 487px) {
    .main-text {
        top: 200px;
    }

    .main-text h1 {
        font-size: 2.5rem;
    }

    .main-text p {
        font-size: 1.5rem;
    }
}

@media (min-width: 488px) and (max-width: 538px) {
    .main-text {
        top: 250px;
    }

    .main-text h1 {
        font-size: 2.5rem;
    }

    .main-text p {
        font-size: 1.5rem;
    }
}

@media (min-width: 539px) and (max-width: 604px) {
    .main-text {
        top: 200px;
    }

    .main-text h1 {
        font-size: 3rem;
    }

    .main-text p {
        font-size: 1.5rem;
    }
}

@media (min-width: 605px) and  (max-width: 767px) {
    .main-text h1 {
        font-size: 3.25rem;
    }

    .main-text p {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) and  (max-width: 816px) {
    .main-text {
        top: 250px;
    }
    
    .main-text h1 {
        font-size: 3.5rem;
    }

    .main-text p {
        font-size: 2rem;
    }
}

@media (min-width: 817px) and  (max-width: 1816px) {
    .main-text {
        top: 250px;
    }
    
    .main-text h1 {
        font-size: 3.5rem;
    }

    .main-text p {
        font-size: 2rem;
    }
}

.btn-location {
    color: white;
    --bs-btn-border-color: #005414;
}

.btn-new-here {
    --bs-btn-bg: #005414;
    --bs-btn-border-color: #005414;
}

/* HOME ICONS */
#home-icons {
    margin-top: 6rem;
}

#home-icons img {
    height: 300px;
    object-fit: cover;
}

#home-icons h1 {
    background-color: #005414;
    color: #fff;
    position: relative;
    top: -30px;
}

/* PARALLAX BANNER */
.banner {
    position: relative;
    min-height: 300px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 30% 100%, 0 75%);
}

#banner1 {
    background: url("../img/destined.jpg") fixed no-repeat center;
    background-size: cover;
}

#banner2 {
    background: url("../img/hero.jpg") fixed no-repeat center;
    background-size: cover;
}

#banner3 {
    background: url("../img/cross.jpg") fixed no-repeat center;
    clip-path: polygon(0 20%, 65% 0, 100% 20%, 100% 100%, 0 100%);
    background-size: cover;
}

#banner4 {
    background: url("../img/cant-wait.JPG") fixed no-repeat center;
    clip-path: polygon(0 20%, 65% 0, 100% 20%, 100% 100%, 0 100%);
    background-size: cover;
    margin-bottom: 0;
}

#banner4 .row {
    height: auto;
}

/* LOCATIONS SECTION */
#locations {
    margin-top: 6rem;
}

#locations img {
    height: 400px;
    object-fit: cover;
}

#locations h1 {
    background-color: #005414;
    color: #fff;
    position: relative;
    top: -30px;
}

#pastors .btn-location {
    color: #005414;
    --bs-btn-border-color: #005414;
}

#home-heading {
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.accordion-flush .accordion-item {
    border-bottom: 0;
}

.accordion-button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.gallery img {
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.gallery-img {
    transition: all 2s ease;
}

.gallery-img:hover {
    transform: scale(1.1);
}

.btn-visit {
    font-size: 2rem;
    margin-bottom: 50px;
}

/* SIGNUP */
.signup-art {
    background-image: url(../img/bg_tree3.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    height: inherit;
}

.green-bg {
    background-color: #005414;
    color: #fff;
}

.form-text {
    color: #fff;
}

#main-footer {
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    /* filter: blur(10px); */
}

#main-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-footer a {
    color: #005414;
    text-decoration: none;
    font-size: 1.5rem;
}